<form class="form-horizontal" >
    <div class="form-group">
        <label  class="col-xs-4 control-label">目录路径</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" name="directoryName">
        </div>
    </div>
    <div class="form-group">
        <label  class="col-xs-4 control-label">文件名称</label>
        <div class="col-xs-8">
            <input type="text" class="form-control"  name="fileName">
        </div>
    </div>
    <div class="form-group">
        <label  class="col-xs-4 control-label">重名策略</label>
        <div class="col-xs-8">
            <select name="fileExist" class="form-control">
                <option value="Override">覆盖</option>
                <option value="Append">添加</option>
                <option value="Ignore">忽略</option>
                <option value="Move">移走原有</option>
                <option value="TryRename">重命名</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label  class="col-xs-4 control-label">临时文件名称</label>
        <div class="col-xs-8">
            <input type="text" class="form-control"  name="tempFileName">
        </div>
    </div>
    <div class="form-group">
        <label  class="col-xs-4 control-label">moveExisting</label>
        <div class="col-xs-8">
            <input type="text" class="form-control"  name="moveExisting">
        </div>
    </div>
    <div class="form-group">
        <label  class="col-xs-4 control-label">字符编码</label>
        <div class="col-xs-8">
            <input type="text" class="form-control"  name="charset">
        </div>
    </div>
</form>