<form class="form-horizontal" >
    <div class="form-group">
        <label  class="col-xs-4 control-label">目的地名称</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" name="destinationName">
        </div>
    </div>
    <div class="form-group">
        <label  class="col-xs-4 control-label">接连工厂提供者</label>
        <div class="col-xs-5">
            <select name="connectionFactoryProvider" class="form-control">
            </select>
        </div>
    </div>
</form>