<form class="form-horizontal" >
    <div class="form-group">
        <label  class="col-xs-4 control-label">主机名称</label>
        <div class="col-xs-8">
            <input type="text" class="form-control"  name="host">
        </div>
    </div>
    <div class="form-group">
        <label  class="col-xs-4 control-label">端口号</label>
        <div class="col-xs-8">
            <input type="text" class="form-control"  name="port">
        </div>
    </div>
    <div class="form-group">
        <label  class="col-xs-4 control-label">用户名</label>
        <div class="col-xs-8">
            <input type="text" class="form-control"  name="username">
        </div>
    </div>
    <div class="form-group">
        <label  class="col-xs-4 control-label">密码</label>
        <div class="col-xs-8">
            <input type="text" class="form-control"  name="password">
        </div>
    </div>
    <div class="form-group">
        <label  class="col-xs-4 control-label">邮件标识</label>
        <div class="col-xs-8">
            <input type="text" class="form-control"  name="name">
        </div>
    </div>
    <div class="form-group">
        <label  class="col-xs-4 control-label">内容类型</label>
        <div class="col-xs-8">
            <input type="text" class="form-control"  name="contentType">
        </div>
    </div>
    <div class="form-group">
        <label  class="col-xs-4 control-label">发送者</label>
        <div class="col-xs-8">
            <input type="text" class="form-control"  name="from">
        </div>
    </div>
    <div class="form-group">
        <label  class="col-xs-4 control-label">接收者</label>
        <div class="col-xs-8">
            <input type="text" class="form-control"  name="to">
        </div>
    </div>
    <div class="form-group">
        <label  class="col-xs-4 control-label">抄送</label>
        <div class="col-xs-8">
            <input type="text" class="form-control"  name="cc">
        </div>
    </div>
    <div class="form-group">
        <label  class="col-xs-4 control-label">密送</label>
        <div class="col-xs-8">
            <input type="text" class="form-control"  name="bcc">
        </div>
    </div>
    <div class="form-group">
        <label  class="col-xs-4 control-label">邮件正文</label>
        <div class="col-xs-8">
            <input type="text" class="form-control"  name="body">
        </div>
    </div>
    <div class="form-group">
        <label  class="col-xs-4 control-label">是否支持FM</label>
        <div class="col-xs-8">
            <select name="freemarkerSupport" class="form-control">
                <option value="true">是</option>
                <option value="false">否</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label  class="col-xs-4 control-label">FreemarkerMap</label>
        <div class="col-xs-5">
            <input type="text" class="form-control" name="freemarkerMap" readonly="readonly">
        </div>
        <div class="col-xs-3">
            <button type="button" class="form-control btn btn-default btn-xs map-config">配置</button>
        </div>
    </div>
</form>