<form class="form-horizontal" >
    <div class="form-group">
        <label  class="col-xs-5 control-label">备份目录</label>
        <div class="col-xs-7">
            <input type="text" class="form-control" name="backupDir">
        </div>
    </div>
    <div class="form-group">
        <label  class="col-xs-5 control-label">是否覆盖</label>
        <div class="col-xs-7">
            <select name="replaceIfExist" class="form-control">
                <option value="true">是</option>
                <option value="false">否</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label  class="col-xs-5 control-label">db4o仓库目录</label>
        <div class="col-xs-7">
            <input type="text" class="form-control"  name="repositoryDir">
        </div>
    </div>
    <div class="form-group">
        <label  class="col-xs-5 control-label">分解包大小</label>
        <div class="col-xs-7">
            <input type="text" class="form-control"  name="splitPackageSize">
        </div>
    </div>
    <div class="form-group">
        <label  class="col-xs-5 control-label">反馈延迟</label>
        <div class="col-xs-7">
            <input type="text" class="form-control"  name="uncompliteSendbackDelay">
        </div>
    </div>
    <div class="form-group">
        <label  class="col-xs-5 control-label">线程池大小</label>
        <div class="col-xs-7">
            <input type="text" class="form-control"  name="poolSize">
        </div>
    </div>
    <div class="form-group">
        <label  class="col-xs-5 control-label">发送队列大小</label>
        <div class="col-xs-7">
            <input type="text" class="form-control"  name="sendBlockingQueue">
        </div>
    </div>
    <div class="form-group">
        <label  class="col-xs-5 control-label">跟踪级别</label>
        <div class="col-xs-7">
            <select name="trackerLevel" class="form-control">
                <option value="ERROR">ERROR</option>
                <option value="INFO">INFO</option>
                <option value="TRACE">TRACE</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label  class="col-xs-5 control-label">反馈策略</label>
        <div class="col-xs-4">
            <select name="feedbackStrategy" class="form-control">
            </select>
        </div>
    </div>
    <div class="form-group">
        <label  class="col-xs-5 control-label">交换信息解析者</label>
        <div class="col-xs-4">
            <select name="splitProvider" class="form-control">
            </select>
        </div>
    </div>
</form>